Service References/act/Add_Tiptop_cxmt410.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Add_Tiptop_cxmt410" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.12.241:18001/Add_Tiptop_cxmt410.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.12.241:18001/Add_Tiptop_cxmt410.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.12.241:18001/Add_Tiptop_cxmt410.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdd_Tiptop_cxmt410_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IAdd_Tiptop_cxmt410_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IAdd_Tiptop_cxmt410_Del_InputMessage">
    <wsdl:part name="parameters" element="tns:Del" />
  </wsdl:message>
  <wsdl:message name="IAdd_Tiptop_cxmt410_Del_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdd_Tiptop_cxmt410">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdd_Tiptop_cxmt410/Add" message="tns:IAdd_Tiptop_cxmt410_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdd_Tiptop_cxmt410/AddResponse" message="tns:IAdd_Tiptop_cxmt410_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Del">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdd_Tiptop_cxmt410/Del" message="tns:IAdd_Tiptop_cxmt410_Del_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdd_Tiptop_cxmt410/DelResponse" message="tns:IAdd_Tiptop_cxmt410_Del_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdd_Tiptop_cxmt410" type="tns:IAdd_Tiptop_cxmt410">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IAdd_Tiptop_cxmt410/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del">
      <soap:operation soapAction="http://tempuri.org/IAdd_Tiptop_cxmt410/Del" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Add_Tiptop_cxmt410">
    <wsdl:port name="BasicHttpBinding_IAdd_Tiptop_cxmt410" binding="tns:BasicHttpBinding_IAdd_Tiptop_cxmt410">
      <soap:address location="http://192.168.12.241:18001/Add_Tiptop_cxmt410.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>